body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 1.5px hsl(170 95% 7.5%);
  font-size: 42px;
  font-weight: 1000;
  color: hsl(185 90% 30%);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: hsl(175 40% 15%);
  width: 100%;
  height: 60px;
}
main {
  position: relative;
  background-color: hsl(175 30% 10%);
  width: 100%;
  height: calc(100% - 50px);
}
#control-panel-container {
  display: flex;
  width: 100%;
  height: 50px;
}
#pads-list {
  position: relative;
  width: 30%;
  height: 50px;
  background-color: hsl(175 30% 10%);
  border-right: 2px solid hsl(175 50% 15%);
  border-bottom: 3px solid hsl(175 50% 15%);
}
#mixer-panel {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
  height: 50px;
  background-color: hsl(175 30% 10%);
  border-left: 2px solid hsl(175 50% 15%);
  border-bottom: 3px solid hsl(175 50% 15%);
}
#volume-set-up-container {
  position: relative;
  margin-inline: 10px;
  height: 45px;
  width: 180px;
  border-radius: 28px;
  border: 3px solid hsl(170 75% 35%);
  background-color: hsl(170 40% 25%);
}
#volume-set-up {
  position: relative;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 160px;
  outline: none;
}
#volume-value {
  position: absolute;
  left: 50%;
  top: 22.5%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 18px;
  color: hsl(180 45% 50%);
}
#main-controller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
}
#launch-pads-container {
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: repeat(4, 4fr);
  place-items: center;
}
#launch-pads-container button {
  width: 65%;
  height: 85%;
  outline: none;
  font-size: clamp(12px, 2vw, 28px);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  border-radius: 20px;
  background-color: hsl(175 30% 10%);
  border: 5px solid hsl(175 60% 35%);
  color: hsl(175 60% 35%);
}
@media (max-width: 1024px) {
  #launch-pads-container {
    column-gap: 10px;
    row-gap: 5px;
  }
  #launch-pads-container button {
    width: 120px;
    height: 80px;
  }
}
@media (max-width: 600px) {
  #launch-pads-container {
    column-gap: 10px;
    row-gap: 5px;
  }
  #launch-pads-container button {
    width: 60px;
    height: 40px;
  }
}
